# Firebase Web SDK (à brancher en Phase 2)
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyAlr21Y1a8NPqRImYi3fyyyg8KKHXvwFTU
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=w-com-view.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=w-com-view
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=w-com-view.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=436588189943
NEXT_PUBLIC_FIREBASE_APP_ID=1:436588189943:web:c38d2edbc12f7cbea81bf2

# OneSignal (notifications push)
NEXT_PUBLIC_ONESIGNAL_APP_ID=38e7126f-2c23-4ee7-b715-6db2718ea78f

# Google Generative AI (Gemini) — pour l'assistant IA Phase 4
GEMINI_API_KEY=
