# Firebase Web SDK (à brancher en Phase 2)
NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=

# OneSignal (notifications push)
NEXT_PUBLIC_ONESIGNAL_APP_ID=38e7126f-2c23-4ee7-b715-6db2718ea78f

# Google Generative AI (Gemini) — pour l'assistant IA Phase 4
GEMINI_API_KEY=
